* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3rem;
}

header.h1{
    display: inline-block;
    font-size: 48px;
}


ul{
    list-style-type: none;
    text-align: right;
}

li {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*---------^header^----------*/
#title{
    margin-bottom:2rem;
    color:#2a607c;
    border-bottom:3px solid #2a607c;
}
.title{
    margin-left: 3rem;
    font-size: 26px;
    width: fit-content;
}
#cards{
    display: flex;
    flex-direction: column;
}
.doctors{
    display:flex;
    flex-direction:row;
    margin:auto;
    margin-top:30px;
    margin-bottom: 30px;;
    border:3px solid #2a607c;
    padding:10px;
    width:30%;
    align-items: center;
    background-color: #2a607c;
    color: #ffffff;
}
img{
    width:12rem;
    height:10rem;
    margin-right:3rem;
}
.info{
    display: flex;
    flex-direction: column;
}
.info > #name{
    font-size: 30px;
}
.info > #description{
    font-size:20px;
}

#questions{
    display:flex;
    flex-direction: column;
    align-items: center;

}
#message{
    margin-bottom: 2rem;
}
textarea{
    padding:10px;
    margin-bottom: 2rem;
}
#submit{
    padding: 5px;
    font-size: 20px;
}